.BoardContainer {
    padding: 7%;
    width: 65%;
    /* display: flex; */
    margin-left: 300px;
}

.Boards {
    margin-top: 1%;
}

.numlist{
    margin-top: 3%;
}

.card.text-center a {
    text-decoration: none;
    color: black;
    float: left;
}

.ulcenter {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;

}
.ulcenter a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }