@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.matop{
  margin-top: 3%;
}
.mypetMain {
  width: 65%;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;

}

.slidercon {
  display: flex;
  justify-content: space-between; /* 두 div 사이의 공간을 동일하게 */
  width: 100%; /* 부모 div의 너비를 100%로 설정 */
}

.slideritem {
  width: 45%; /* 각 div의 너비를 45%로 설정하여 총 너비가 100%를 넘지 않도록 함 */
  padding: 10px;
  text-align: center;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.sliderinimg {
  max-width: 50%;
  height: auto;
  margin : 0 auto;
  /* width: 50%; */
}

.sitme1 {
  margin: 0 auto;
  text-align: center;
}

.sitme2 {
  height: 100%;
  margin: 0 auto;
  margin-bottom: 2%;
}

/* -------------------------------------------------------------- */
.petliist{
  margin-top: 3%;
}

/* Flexbox 컨테이너 설정 */
.containner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 각 item의 스타일 */
.col {
  flex: 1 1 calc(30% - 10px); /* 3개의 요소를 한 줄에 배치하고 간격을 조정 */
  box-sizing: border-box;
  margin: 5px; /* 요소 간의 간격 */
}

/* 추가 스타일 */
.petcontainner {
  width: 80%;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.divimg {
  margin-bottom: 10px;
}

.divimgimg {
  max-width: 80%;
  height: auto;
  border-radius: 5px;
}

.slideritem {
  margin-top: 10px;
}

