.hfirst {
    background-color: greenyellow;
}

nav {
    display: flex;
    align-items: center;
    justify-content:  space-between;
    background-color: whitesmoke;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
    display:  flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

li + li {
    margin-left: 50px;

}
ul {
    text-align : center;
}
#navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    transition: 0.3s ease-in-out;
    
}

#navbar li h5 {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    transition: 0.3s ease-in-out;
    padding-top: 20%;
}

#navbar li a:hover,
#navbar li a.active {
    color: red;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    height: 30%;
    background-color: #17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

a.nav-link{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    transition: 0.3s ease-in-out;
    color: black;
}

.mar1 {
    padding-top: 3%;
}
